@media (max-width: 1200px){
    h3{font-size: 6rem;}
}

@media (max-width: 800px){
    canvas{
        width: 100%;
    }

    #left-button {
        right: 0px; 
        font-size: 2rem;
    }
    
    #right-button {
        right: 0px; 
        font-size: 2rem;
    }
    
    #jump-button {
        right: 0px; 
        font-size: 2rem;
    }
    
    #bottle-button {
        right: 0px; 
        font-size: 2rem;
    }

    .content-container{
        width: 90%;
    }
    
    .content-container img{
        width: 200px;
        height: auto;
        margin-top: 120px;
    }

    .intro-scroll-container{
        align-items: start;
    }

    h3{font-size: 4rem;}
}

@media (max-width: 500px){
    #left-button {
        right: 0px; 
        font-size: 1rem;
    }
    
    #right-button {
        right: 0px; 
        font-size: 1rem;
    }
    
    #jump-button {
        right: 0px; 
        font-size: 1rem;
    }
    
    #bottle-button {
        right: 0px; 
        font-size: 1rem;
    }
    
    #restart-button {
        right: 0px; 
        font-size: 1rem;
    }

    .content-container img{
        width: 200px;
        height: auto;
        margin-top: 64px;
    }
}

@media (max-height: 480px){
    canvas{
        height: 100vh;
    }

    .legal-scroll-container{
        background-color: rgba(0, 0, 0, 0.596);
        height: 70dvh;
        overflow-y: auto;
        padding: 14px;
        width: 100%;
    }

    .law-text-container{
        padding: 44px 0;
        font-size: 1rem;
    }
}